<ion-header>
  <ion-toolbar color="success">
    <ion-title>Register</ion-title>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Hi!! Welcome to test APP... Would you like to continue ?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-radio-group name="auto" value="yes" formControlName="radioBtn">
            <ion-item>
              <ion-label>Yes</ion-label>
              <ion-radio value="yes" ></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio value="no"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Contact Details</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input type="text" placeholder="Please add First Name" formControlName="firstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input type="text" placeholder="Please add Last Name" formControlName="lastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" placeholder="Please add email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"  placeholder="Please add password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" placeholder="Please confirm password" formControlName="confirmPassword"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Address Information</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Street No</ion-label>
          <ion-input type="number" placeholder="Street No" formControlName="no"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Street Name</ion-label>
          <ion-input type="text" placeholder="Street Name" formControlName="stName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">City</ion-label>
          <ion-input type="text" placeholder="City" formControlName="city"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">State</ion-label>
          <ion-input type="text" placeholder="State" formControlName="state"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Zip Code</ion-label>
          <ion-input type="number" placeholder="Zip Code" formControlName="zipCode"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button type="submit" size="full" color="light">
      Register
    </ion-button>
  </form>

</ion-content>